<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="mycheckout" id="mycheckout">
            <module name="Monogo_ModuleNewStepCheckout"/>
        </route>
        <route frontName="knockout" id="knockout">
            <module name="Monogo_ModuleNewStepCheckout"/>
        </route>
    </router>
</config>
