<!--The 'step_code' value from the .js file should be used-->
<li id="step_code" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'You might be interested in'" datrole="title"></div>
<!--    <h2 data-bind="text: getTimeTest()"></h2>-->
    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Preview</th>
            <th>Add to cart</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: { data: listaproduktow, as: 'items'}">
        <!-- ko foreach: { data: items, as: 'item' } -->
        <tr class="totals sub">
            <td><a data-bind="attr: { href: item.productUrl }"><span data-bind="text: item.name"></span></a></td>
            <td class="amount">
                <span class="price" data-bind="text: $parents[1].getValue()"></span>
            </td>
            <td><img data-bind="attr: {src: item.imgUrl}" width="120" height="150" alt="Product Image"></td>
            <td>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button data-bind="event: { click: $parents[1].addProduct }" data-role="opc-continue" type="submit" class="button action continue primary">
                            <span><!-- ko i18n: 'add to cart'--><span></span><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        <!-- /ko -->
        </tbody>
    </table>
    <div data-bind="afterRender: getProduct()"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
